body{
text-align:center;
margin:0 15%;
width:75%;
border:solid blue 2px;

}
h1{
background-color:lightgray;
margin-top:20px;
padding:0px;
}

h2{
    background-color:lightgray;
    margin:0px;
    padding0px;
}